
p.chirps {
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 35px;
  span {
    border-bottom: 3px solid #ff6584;
    font-size: 32px;
    font-size: 40px;
    margin-right: 15px;
  }
}