footer {
  p{
    font-size: 16px;
    margin: 39px 0 0 0;
    padding: 10px 0 10px 0;
    background-color: $logBackground;
    color: white;
    letter-spacing: 1px;
    font-weight: 300;
    width: 100%;
  }
}