footer {
  p{
    font-size: 16px;
    margin-top: 39px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #3f3d56;
    margin-bottom: 0;
    color: white;
    letter-spacing: 1px;
    font-weight: 300;
    width: 100%;
  }
}