.radio {
display: flex;
justify-content: center;
}

// Styling the labels for the radio buttons as they will be replacing the small radio circle. 
.radio label {
  margin: 20px;
  padding: 10px;
  font-size: 17px;
  height: 45px;
  display: flex;
  width: 45px;
  justify-content: center;
  align-items: center;
}  

// The radio buttons were set to position absolute and off the page so that the meter could be adjusted through the labels
input[type="radio"] {
  opacity: 0.01;
  position: absolute;
  left: -1000px;
  &:focus+label,
  &:checked+label {
    background-color: $logBackground;
    color: white;
    border-radius: 50%;
  }
}

p.form {
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 20px;
}

.radio {
  width: 50%;
  margin: 15px auto 0 auto;
  border: none;
}

.data > main:nth-child(2) > form:nth-child(2) {
  margin-top: 25px;
}

// The title and composer inputs
input[type="text"] {
  width: 365px;
  text-align: left;
  border: none;
  border-bottom: 1px solid $darkFont;
  font-size: 20px;
  margin: 20px 0 30px 0;
  background-color: transparent;
  color: $darkFont;
  font-family: 'Montserrat';
  padding: 5px 0 5px 0;
  // These three styles below were used to keep a border-radius of 0 for the inputs when the app was displayed on an iPhone. 
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
  &:focus {
    border-bottom: 1px solid $darkFont;
    box-shadow: 0 1px 0 0 $darkFont;
  &:focus + label {
    color: $darkFont;
    }
  }
}

input.composer {
  margin: 13px 0 39px 0;
}

.buttonParent {
  display: flex;
  margin-top: 20px;
}

.buttonParent > button:nth-child(1) {
  margin-bottom: 19px;
}

.parent > p:nth-child(1) {
  margin-bottom: 20px;
}

// The start and submit buttons styling
.chirptronome button.playing,
button[type="submit"] {
  background: $accentLight;
  padding: 11px 18px;
  width: 170px;
  color: #F2F4F3;
  font-size: 27px;
  border: none;
  font-family: 'Montserrat';
  transition: 0.3s;
  margin: 0 auto;
}

.chirptronome button.playing {
  margin: 32px 0 15px 0;
  &:hover {
    background: #e23558;
  }
}

button[type="submit"] {
  background-color: #F2F4F3;
  color: $accentLight;
  &:hover,
  &:focus-within {
    background-color: #DADCDB;
  }
}

// The styling for sweet alert so that the button is in the center of the bottom of the alert. 
.swal-footer {
  text-align: center;
}