.radio {
display: flex;
justify-content: center;
}

.radio label {
  margin: 20px;
  padding: 10px;
  font-size: 17px;
  height: 45px;
  display: flex;
  width: 45px;
  justify-content: center;
  align-items: center;
}  

input[type="radio"] {
  opacity: 0.01;
  position: absolute;
  left: -1000px;
  &:focus+label,
  &:checked+label, 
  &:active,
  &:focus-within {
    background-color: #3f3d56;
    color: white;
    border-radius: 50%;
  }
}

p.form {
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 20px;
}

.radio {
  width: 50%;
  margin: 0 auto;
  border: none;
  margin-top: 15px;
}

input[type="text"] {
  width: 365px;
  text-align: left;
  border: none;
  border-bottom: 1px solid #373737;
  margin-bottom: 30px;
  font-size: 20px;
  margin-top: 20px;
  background-color: transparent;
  color: #373737;
  font-family: 'Montserrat';
  padding-top: 5px;
  padding-bottom: 5px;
  &:focus {
    border-bottom: 1px solid #373737;
    box-shadow: 0 1px 0 0 #373737;
  &:focus + label {
    color: #373737;
    }
  }
}

input.composer {
  margin-top: 13px;
  margin-bottom: 39px;
}

.buttonParent {
  display: flex;
  margin-top: 20px;
}

.buttonParent > button:nth-child(1) {
  margin-bottom: 19px;
}

.chirptronome button.playing,
button[type="submit"] {
  background: #ff6584;
  padding: 11px 18px;
  width: 170px;
  color: #F2F4F3;
  font-size: 27px;
  border: none;
  font-family: 'Montserrat';
  transition: 0.3s;
  margin: 0 auto;
  margin-right: 15px;
  margin-left: 15px;
}

.chirptronome button.playing {
  margin-bottom: 15px;
  margin-top: 22px;
  &:hover {
    background: #e23558;
  }
}

button[type="submit"] {
  transition: 0.3s;
  background-color: #F2F4F3;
  color: #ff6584;
  &:hover,
  &:focus-within {
    background-color: #DADCDB;
  }
}

.data > main:nth-child(2) > form:nth-child(2) {
  margin-top: 25px;
}

.swal-footer {
  text-align: center;
}

.parent > p:nth-child(1) {
  margin-bottom: 20px;
}



