// holds all of the logs
ul {
  margin: 0;
  padding: 0;
  // each li is a log with the saved information from the user. 
  li {
    list-style-type: none;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    width: 65%;
    margin: 39px auto 0 auto;
    background-color: $logBackground;
    border-radius: 20px;
    position: relative;
    padding-bottom: 35px;
    p {
      font-size: 18px;
      margin: 15px;
      color: white;
      text-transform: none;
    }
  }
}

// Margin above the button in the li.
ul li p.last {
  margin-bottom: 27px;
}

span.bold {
  font-size: 18px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

// The delete button in the top right corner
span.x {
  font-size: 39px;
  color: $accentLight;
  position: absolute;
  top: 5px;
  right: 12px;
  transition: 0.3s;
  &:hover,
  &:focus-within {
    color: #e23558;
  }
}

// The button to restore the users previous settings
a.replay {
  font-family: 'Montserrat';
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: $accentDark;
  color: white;
  font-weight: 300;
  transition: 0.3s;
  text-decoration: none;
  &:hover,
  &:focus-within,
  &:active {
    background-color: #3f35f9;
  }
}



