@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Open+Sans|Oswald:200,400,600,700|Work+Sans');

@import './global';
@import './slider';
@import './form';

p {
  font-size: 22px;
  font-family: 'Montserrat';
  font-weight: 300;
  text-transform: uppercase;
}

p span {
  font-weight: 600;
  font-size: 22px;
}

p.chirps {
  font-family: 'Montserrat';
  text-transform: uppercase;
}

p.chirps span {
  border-bottom: 3px solid #ff6584;
  font-size: 32px;
  font-size: 40px;
  margin-right: 15px;
}

.chirps {
  font-size: 20px;
  margin-top: 35px;
}

p.form {
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 20px;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 90px;
  margin-top: 0;
  margin-bottom: 21px;
  padding-top: 30px;
  color: #373737;
  letter-spacing: 2px;
}

h1 span.header{
  font-weight: 300;
}

.chirptronome {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  background-color: #F2F3AE;
  padding-bottom: 55px;
}

input[type="number"] {
  width: 25%;
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0; 
}

label p {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 19px;
}

input[type="text"] {
  width: 365px;
  text-align: left;
  border: none;
  border-bottom: 1px solid #373737;
  margin-bottom: 30px;
  font-size: 20px;
  margin-top: 20px;
  background-color: transparent;
  color: #373737;
}

input.composer {
  margin-top: 13px;
}

.chirptronome button.playing,
button[type="submit"] {
  background: #ff6584;
  padding: 11px 18px;
  width: 170px;
  color: #F2F4F3;
  font-size: 27px;
  border: none;
  font-family: 'Open Sans';
  transition: 0.3s;
  margin: 0 auto;
  margin-right: 15px;
  margin-left: 15px;
}

.chirptronome button.playing {
  margin-bottom: 0;
  margin-top: 45px;
}

button[type="submit"] {
  transition: 0.3s;
  background-color: #F2F4F3;
  color: #ff6584;
}

button[type="submit"]:hover,
button[type="submit"]:focus-within {
  background-color: #DADCDB;
}

.chirptronome button.playing:hover {
  background: #e23558;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

ul li {
  list-style-type: none;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  width: 52%;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #3f3d56;
  border-radius: 20px;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
}

span.x {
  font-size: 39px;
  color: #ff6584;
  position: absolute;
  top: 5px;
  right: 12px;
}

li p {
  font-size: 18px;
  margin: 15px;
  color: white;
}

span.bold {
  font-size: 18px;
  letter-spacing: 1.2px;
}

.parent > p:nth-child(1) {
  margin-bottom: 10px;
  margin-top: 10px;
}

fieldset {
  width: 50%;
  margin: 0 auto;
  border: none;
  margin-top: 30px;
}

input[type="radio"] {
  opacity: 0.01;
  position: absolute;
  left: -1000px;
}

fieldset.radio label {
  margin: 20px;
  padding: 10px;
  font-size: 17px;
}

input[type="radio"]:focus+label,
input[type="radio"]:checked+label {
  background-color: #3f3d56;
  color: white;
  border-radius: 50%;
}

input[type="radio"]:active {
  background-color: #3f3d56;
  color: white;
  border-radius: 50%;
}

input[type="date"] {
  background-color: transparent;
  border: none;
  margin-bottom: 20px;
  font-size: 25px;
  width: 20%;
}

.data > header:nth-child(1) > p:nth-child(2) {
  margin-top: 22px;
  letter-spacing: 1px;
}

.swal-footer {
  text-align: center;
}

.buttonParent {
  display: flex;
  margin-top: 20px;
}

img {
  width: 126px;
  margin-top: -11px;
  margin-right: 29px;
}

.headerParent {
  display: flex;
  justify-content: center;
}

.data > main:nth-child(2) > form:nth-child(2) {
  margin-top: 25px;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
::placeholder {
  color: darkgrey;
  font-family: 'Montserrat';
  text-transform: none;
}

button.replay {
  font-family: 'Montserrat';
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #6c63ff;
  color: white;
  font-weight: 300;
  transition: 0.3s;
  &:hover,
  &:focus-within,
  &:active {
    background-color: #3f35f9;
  }
}


