@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Oswald|Quattrocento');

body {
  font-family: 'Quattrocento', serif;
  font-weight: 300;
  color: #373737;
}

p {
  font-size: 25px;
}

p span {
  font-weight: bold;
  font-size: 28px;
}

p.chirps span {
  border-bottom: 3px solid #E87461;
  font-size: 32px;
}

h1 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 22px;
  color: #373737;
  letter-spacing: 1.3px;
}

.chirptronome {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  background-color: #F2F3AE;
  padding-bottom: 45px;
}

.data input {
  width: 100%;
  text-align: center;
  border: 1px solid #373737;
  font-size: 40px;
  font-family: 'Quattrocento', serif;
}

input[type="number"] {
  width: 25%;
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0; 
}

label p {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 19px;
}

input[type="text"] {
  width: 30%;
  text-align: left;
  border: none;
  border-bottom: 1px solid #373737;
  margin-bottom: 30px;
  font-size: 20px;
  margin-top: 20px;
  background-color: transparent;
  color: #373737;
}

input.composer {
  margin-top: 13px;
}

input[type="range"] {
  width: 40%;
  margin-bottom: 27px;
}

.chirptronome button.playing,
button[type="submit"] {
  background: #E87461;
  padding: 11px 18px;
  width: 170px;
  color: #F2F4F3;
  font-size: 27px;
  border: none;
  font-family: 'Quattrocento', serif;
  transition: 0.3s;
  margin: 0 auto;
}

.chirptronome button.playing {
  margin-bottom: 0;
}

button[type="submit"] {
  margin-bottom: 20px;
  transition: 0.3s;
  background-color: #F2F4F3;
  color: #E87461;
}

button[type="submit"]:hover,
button[type="submit"]:focus-within {
  background-color: #DADCDB;
}

.chirptronome button.playing:hover {
  background: #B45144;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style-type: none;
  text-align: center;
  border: 1px solid #373737;
  padding: 5px;
  cursor: pointer;
  width: 52%;
  margin: 0 auto;
  margin-top: 30px;
}

ul {
  margin: 0;
  padding: 0;
}

span.x {
  display: inline-block;
  font-size: 30px;
  margin-bottom: 7px;
}

li p {
  font-size: 23px;
  margin: 15px;
}

span.bold {
  font-size: 25px;
}

.parent > p:nth-child(1) {
  margin-bottom: 10px;
  margin-top: 40px;
}

fieldset {
  width: 50%;
  margin: 0 auto;
  border: none;
}

input[type="radio"] {
  opacity: 0.01;
  position: absolute;
  left: -1000px;
}

fieldset.radio label {
  margin: 20px;
  padding: 10px;
}

input[type="radio"]:focus+label,
input[type="radio"]:checked+label {
  background-color: #222e50;
  color: white;
}

input[type="date"] {
  background-color: transparent;
  border: none;
  margin-bottom: 20px;
  font-size: 25px;
  width: 20%;
}

.data > header:nth-child(1) > p:nth-child(2) {
  margin-top: 20px;
}

.swal-footer {
  text-align: center !important;
}